html,
body {
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;

}

.container div{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: white;
}